.place__url {
  display: grid;
  align-self: end;
}

@media screen and (max-width: 603px) {
  .place__url {
    align-self: start;
    padding: 0 24px;
  }
}

@media screen and (max-width: 424px) {
  .place__url {
    padding: 0 16px;
  }
}
