.cover {
  display: grid;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  background-image: url(../../images/cover/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

.cover::before {
  display: block;
  content: '';
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding-top: 62.5%;
}
