.places {
  max-width: 984px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 80px;
  margin: 0 auto;
  padding: 92px 0;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: 720px;
    padding: 88px 0 90px;
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin: 0 16px;
  }
}
@media screen and (max-width: 441px) {
  .places {
    padding: 64px 0 66px;
    margin: 0;
    gap: 50px;
  }
}
