@keyframes cover-animation {
  from {
    background-color: rgba(42, 44, 47, 0.3);
  }

  to {
    background-color: rgba(42, 44, 47, 0.8);
  }
}

.cover-animation:hover {
  animation: cover-animation 0.3s ease forwards;
}
